.orderLayout {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 5px;
}
.cart{
    flex-basis: 50%;
}

.form{
    margin-top: 20px;
    position: sticky;
    top: 18vh;
    right: 0;
}