.product{
    width: 100%;
    aspect-ratio: 1;
    border: 3px solid rgba(177, 176, 176, 0.329);
    overflow: hidden;
    border-radius: 2px;
    position: relative;
    display: flex;
    flex-direction: column;
    font-weight: 400;
}
.top{
    position: relative;
}

.top small {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #F26522;
}

.top img{
    width: 60%;
    aspect-ratio: 1;
    object-fit: contain;
    margin: 0px 20%;
    z-index: -1;
}

.bottom {
    flex-grow: 1;
    background-color: rgba(177, 176, 176, 0.329);
    padding: 0 10px;
    box-shadow: 5px 0 50px rgba(119, 118, 118, 0.404);
    z-index: 2;
}

button.addProduct {
    background-color: transparent;
    border: none;
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: pointer;
    z-index: 4;
    /* background-color: #F26522;
    border-radius: 50%;
    text-align: center;
    color: white;
    font-weight: bolder; */
    /* aspect-ratio: 1; */

}

.addProduct img {
    width: 30px;
}