<div [@productsState] class="product">
    <div class="top">
        <img src={{product.imageName}} alt="product pic">
        <small>{{ product.price | currency:"ILS" }}</small>
    </div>

    <div class="bottom" [style.background]="product.imageName">
        <div>{{ product.productName }}</div>
    </div>
    <button (click)="productsService.startedEditing.next(this.i)" class="editProduct"><img src="../../../../assets/Edit.png" alt="✏️"></button>
    <!-- <button (click)="showEdit()"  class="addProduct">+</button> -->
    <button *ngIf="!this.auth.isAdmin()" (click)="showDialog()"  class="addProduct"><img src="../../../../assets/Plus.png" alt=""></button>

</div>