header {
    --border-color : rgba(161, 227, 196, 0.495);
    height: 17vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(217deg, rgba(255, 0, 0, 0.13), rgba(255,0,0,0) 70.71%),
    linear-gradient(127deg, rgba(65, 156, 65, 0.178), rgba(0,255,0,0) 70.71%),
    linear-gradient(336deg, rgba(65, 65, 163, 0.164), rgba(0,0,255,0) 70.71%);
    border-bottom: 2px solid var(--border-color);
    box-shadow: 2px 3px 2px var(--border-color);
}

h1  {
    text-shadow: 3px 4px 5px rgba(56, 56, 56, 0.341);
}
