.header {
    height: fit-content;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    background-color: #E8E8E8;
    z-index: 9;
    padding: 1vw;
}
a{
    background-color: transparent;
}
img {
    width: 27vw;
}