header {
    height: 17vh;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: antiquewhite;
    /* background: linear-gradient(217deg, rgba(255, 0, 0, 0.13), rgba(255,0,0,0) 70.71%),
    linear-gradient(127deg, rgba(65, 156, 65, 0.178), rgba(0,255,0,0) 70.71%),
    linear-gradient(336deg, rgba(65, 65, 163, 0.164), rgba(0,0,255,0) 70.71%); */
    border-bottom: 2px solid var(--border-color);
    z-index: 9;
}

h1  {
    text-shadow: 3px 4px 5px rgba(56, 56, 56, 0.341);
}
