<div class="fixed">
    <div class="cart">
        <mat-card-header >
            <mat-card-subtitle >{{cartService.totalAmount}} {{cartService.totalAmount === 1 ? 'product' : 'products'}} </mat-card-subtitle>
            <mat-card-title > {{cartService.totalPrice | currency:"ILS"}} </mat-card-title >
        
        </mat-card-header >
        <table >
            <tr *ngFor="let product of cartService.products">
                <td>{{product.productName}}</td>
                <td> {{product.amount}}</td>
                <td> {{product.price | currency:"ILS"}} </td>
                <td>
                    <button class="delete" (click)="removeProduct(product.cartProductID)"><img src="../../../../assets/Min_V2.png" alt=""></button>
                </td>           
            </tr>
        </table >
        <div class="cartFooter">
            <button
                [disabled]="!cartService.totalPrice"  
                (click)="deleteCartProducts()"
            >
                Create New Cart
            </button>
            <a color="primary" routerLink="/order">make an order</a>
        </div >
    </div>
</div>