<div class="cart">
    <mat-card-header >
        <mat-card-subtitle >{{cartService.totalAmount}} {{cartService.totalAmount === 1 ? 'product' : 'products'}} </mat-card-subtitle>
        <mat-card-title > {{cartService.totalPrice | currency:"ILS"}} </mat-card-title >
    
    </mat-card-header >
    <div >
        <div *ngFor="let product of cartService.products">
            <app-cart-product-card [product]="product"></app-cart-product-card>
        </div>
    </div >
    <div class="cartFooter">
        <button color="red" [disabled]="!cartService.totalPrice"  (click)="deleteCartProducts()">Create New Cart</button>
        <a color="primary" routerLink="/order">make an order</a>
    </div >
</div>