:root{
    --strong-orange: #F26522;
}

.cart {
    padding: 20px;
    height: 63vh;
    overflow: hidden;
    width: 25vw;
    /* position: sticky;
    top: 18vh;
    right: 0;
    bottom: 0; */
    background-color: #FDEAD2;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.emptyCart{
    background: url("../../../../assets/Man_holds_apple_WT.png"), #FDEAD2;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    /* max-height: 50px;
    max-width: 50px; */
    /* z-index: 99; */
}

button, a, button:hover, a:hover{
    background-color: transparent;
    border: transparent;
    cursor: pointer;
}

mat-card-subtitle{
    color: #F26522;
    display: block;
}

table {
    margin-top: 40px;
    width: 100%;
    table-layout: fixed;
    border-spacing: 5px;
}
td{
    text-align: center;
    white-space: nowrap;
}

.delete {
    margin: 0;
    padding: 0;
}
.delete > img {
    width: 30px;
    margin: 0;
}

.cartFooter{
    position: absolute;
    bottom: 10px;
    width: 90%;
    display: flex;
    justify-content: space-evenly;
}

.opacity0{
    opacity: 0;
}


a.checkout{
    color: white;
    height: 40px;
    background-color: #F26522;
    cursor: pointer;
    text-align: center;
    padding: 10px;

    border-radius: 50px;
}

a.noCheckout {
    background-color: #b4b4b4;
    color: #666666;
    pointer-events: none;
}

.newCart{
    color: #666666;
}