.fixed{
    position: fixed;
    bottom: 0;
}
.cart {
    padding: 20px;
    padding-top: 10px;
    height: 65vh;
    overflow: hidden;
    width: 25vw;
    position: sticky;
    top: 18vh;
    right: 0;
    bottom: 0;
    background-color: #FDEAD2;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    margin-bottom: 0;
}

button, a, button:hover, a:hover{
    background-color: transparent;
    border: transparent;
    cursor: pointer;
}

mat-card-subtitle{
    color: #F26522 ;
}

table {
    margin-top: 40px;
    width: 100%;
    table-layout: fixed;
    border-spacing: 5px;
}
td{
    text-align: center;
    white-space: nowrap;
}

.delete {
    margin: 0;
    padding: 0;
}
.delete > img {
    width: 30px;
    margin: 0;
}

.cartFooter{
    position: absolute;
    bottom: 0;
}

.opacity0{
    opacity: 0;
}