.cart {
    padding: 20px;
    height: 60vh;
    overflow: hidden;
    width: 22vw;
    position: sticky;
    top: 18vh;
    right: 0;
    background-color: #FDEAD2;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    margin-top: 0;
}

button, a, button:hover, a:hover{
    background-color: transparent;
    border: transparent;
    cursor: pointer;
}

mat-card-subtitle{
    color: #F26522 ;
}

table {
    width: 100%;
}

button.delete {
    height: 20px;
    width: 20px;
    border: none;
    background-color: #FAA61A;
    color: white ;
    font-weight: 400;
    border-radius: 50%;
}