<mat-card>
    <mat-card-header>
        <mat-card-subtitle>{{cartService.totalAmount}} {{cartService.totalAmount === 1 ? 'product' : 'products'}} </mat-card-subtitle>
        <mat-card-title> {{cartService.totalPrice | currency:"ILS"}} </mat-card-title>
    
        <button mat-raised-button color="red" [disabled]="!cartService.totalPrice"  (click)="deleteCartProducts()">Create New Cart</button>
    </mat-card-header>
    <mat-card-content >
        <div *ngFor="let product of cartService.products">
            <app-cart-product-card [product]="product"></app-cart-product-card>
        </div>
    </mat-card-content>
    <mat-card-actions class="cartFooter">
        <mat-divider></mat-divider>
 
        <a cdkFocusInitial  color="primary" mat-button routerLink="/order">make an order</a>
    </mat-card-actions>
</mat-card>