<div>

    <form (ngSubmit)="addProduct()" [formGroup]="addProductForm">

        <h2>Add Product</h2>

        <mat-form-field appearance="fill">
            <mat-label>Product Name</mat-label>
            <input matInput type="text" formControlName="productName">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Category </mat-label>
            <mat-select formControlName="categoryID" >
                <mat-option *ngFor="let category of productsService.categories"  [value]="category.categoryID" >
                    {{category.categoryName}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        

        <mat-form-field appearance="fill">
            <mat-label>Price </mat-label>
            <input matInput type="number" formControlName="price">
        </mat-form-field>

        <input type="file" accept="image/*" class="file-input" #productImage>        

        <button type="submit" [disabled]="addProductForm.invalid" >Add Product</button>

    </form>
</div>

