
<div class="centerF">
    <form [formGroup]="loginForm" (ngSubmit)="login()">

        <h2>Login</h2>

        <label appearance="fill">
            <span>Email</span>
            <input type="email" formControlName="email">
        </label>

        <label appearance="fill">
            <span>Password</span>
            <input type="password" formControlName="password" >
            <!-- <mat-error *ngIf="password.invalid">Please enter password</mat-error> -->
        </label>

        <button type="submit" [disabled]="!loginForm.valid" >Submit</button>
    </form>
</div>
