
form {
    background-color: #FDEAD2;
    border-radius: 20px;
    padding: 20px;
    height: 45vh;
    aspect-ratio: 1;
    position: relative;
    margin-top: 0;
    padding: 15px;
}

h1{
    font-weight: bold;
}

span {
    margin-bottom: 5%;
}

span a {
    text-decoration: underline;
    color: black;
    font-weight: bold;
}

label {
    display: block;
    height: 15%;
    width: 100%;
    margin: 5% 0;
}

input {
    font-weight: bold;
    font-size: large;
    padding: 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 40px;
}
.buttonContainer{
    height: 30%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    display: grid;
    place-items: center;
    padding: 20px;
}

button {
    height: 100%;
    width: 50%;
    background-color: red;
    color: white;
    border: none;
    border-radius: 30px;
}

button:disabled {
    background-color: rgba(255, 0, 0, 0.486);
}