
<div [class]=" this.router.url.search('login') !== -1 ? 'centerF' : 'f'">
    <form [formGroup]="loginForm" (ngSubmit)="login()">

        <h1>Login</h1>
        <span>Don't have an account? <a routerLink="/register">Join Now</a></span>
        <label appearance="fill">
            <input placeholder="Email" type="email" formControlName="email">
        </label>

        <label appearance="fill">
            <input placeholder="Password" type="password" formControlName="password" >
            <!-- <mat-error *ngIf="password.invalid">Please enter password</mat-error> -->
        </label>
        <div class="buttonContainer">
            <button type="submit" [disabled]="!loginForm.valid" >Submit</button>
        </div>
    </form>
</div>
