<div class="ProductsForm">
    <div>
        <div class="header">
            <h2>{{editMode ? 'Edit ' : 'Add '}} Product</h2>
        </div>

        <form (ngSubmit)="submitProduct()" [formGroup]="productsForm">
    
    
            <label>
                <span>Product Name</span>
                <input type="text" formControlName="productName">
            </label>

            <label>
                <span>Description</span>
                <input type="text" formControlName="description">
            </label>
    
            <label>
                <span>Category </span>
                <select formControlName="categoryID" >
                    <option 
                        *ngFor="let category of productsService.categories"  
                        [value]="category.categoryID" 
                    >
                        {{category.categoryName}}
                    </option>
                </select>
            </label>
    
            <div class="inputGroup">
                <label class="bigBro">
                    <span>Price </span>
                    <input min="1" type="number" formControlName="price">
                </label>
    
                <label class="littleBro">
                    <span>Supply Amount </span>
                    <input min="1" type="number" formControlName="unitsInStock">
                </label>
            </div>

            <div class="inputGroup">
                <label class="bigBro">
                    <span>Weight Unit</span>
                    <input min="0" type="number" formControlName="weight">
                </label>
    
                <label class="littleBro">
                    <select formControlName="weightType">
                        <option *ngFor="let type of weightTypes" [value]="type">{{type}}</option>
                    </select>
                </label>
            </div>

            <input type="file" (change)="onFileSelected($event)" accept="image/*" class="file-input" #productImage>   
            <label class="file_button">
                {{file?.name || "No file uploaded yet."}}
                <button (click)="productImage.click()" type="button" class="upload-btn">
                    +
                    <!-- <img src="../../../../assets/Plus_V3.png" alt=""> -->
                </button>
            </label>     
            
            <div class="footer">
                <button [class]="editMode? 'visible' : 'invisible'" (click)="addMode()">Cancel</button>
                <button 
                    type="submit" 
                    [disabled]="productsForm.invalid || (!file?.name && !editMode)" 
                >
                    {{editMode ? 'Edit ' : 'Add '}} Product
                </button>
            </div>
    
        </form>

    </div>
</div>
