.ProductsForm{
    width: fit-content;
    position: sticky;
    top: 18vh;
    right: 5px;
}

mat-form-field{
    display: block;
}

input[type = submit]{
    display: block;
}

.toggle{
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}
.toggle:disabled{
    color: black;
    cursor: not-allowed;
}