.ProductsForm{
    width: fit-content;
    position: sticky;
    top: 18vh;
    right: 5px;
}

.header {
    align-items: center;
}

h2 {
    font-size: x-large;
    color: white;
}

.header, .footer{
    background-color: rgb(102, 101, 101);
    padding: 1vh;
} 

.footer{
    display: flex;
    justify-content: space-between;
}

.invisible{
    pointer-events: none;
    opacity: 0;
}