<div class="ProductsForm">
    <mat-card>
        <mat-card-content>
            <mat-card-header>
                <button 
                    class="toggle"
                    (click)="addMode()"
                    [disabled]="!editMode"
                >
                    <h2>{{editMode ? 'Edit ' : 'Add '}} Product</h2>
                </button>
            </mat-card-header>

            <form (ngSubmit)="submitProduct()" [formGroup]="productsForm">
        
        
                <mat-form-field appearance="fill">
                    <mat-label>Product Name</mat-label>
                    <input matInput type="text" formControlName="productName">
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Description</mat-label>
                    <input matInput type="text" formControlName="description">
                </mat-form-field>
        
                <mat-form-field appearance="fill">
                    <mat-label>Category </mat-label>
                    <mat-select formControlName="categoryID" >
                        <mat-option 
                            *ngFor="let category of productsService.categories"  
                            [value]="category.categoryID" 
                        >
                            {{category.categoryName}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                
        
                <mat-form-field appearance="fill">
                    <mat-label>Price </mat-label>
                    <input min="1" matInput type="number" formControlName="price">
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Weight </mat-label>
                    <input min="0" matInput type="number" formControlName="weight">
                </mat-form-field>

                <input type="file" (change)="onFileSelected($event)" accept="image/*" class="file-input" #productImage>   
                <div class="file_button">
                    {{file?.name || "No file uploaded yet."}}
                    <button (click)="productImage.click()" type="button" mat-mini-fab color="primary" class="upload-btn">
        
                        <mat-icon>attach_file</mat-icon>
                    </button>
                </div>     
                
                <button 
                    mat-raised-button 
                    type="submit" 
                    [disabled]="productsForm.invalid || (!file?.name && !editMode)" 
                >
                    {{editMode ? 'Edit ' : 'Add '}} Product
                </button>
        
            </form>
        </mat-card-content>
    </mat-card>
</div>
