/* .cartHeader{
    display: flex;
    background-color: #00abca;
    padding: 10px;

}

button {
    padding: auto;
    height: 20px;
    margin-left: 30px;
    background-color: transparent;
    border: none;
    display: block;
    cursor: pointer;
}

button:hover{
    font-weight: bold;
} */