<div class="centerF">
    <div>
        <form [class]="stepState === 1 ? 'visible' : 'invisible'" class="step" [formGroup]="emailAndPasswordForm">
            
            <label appearance="fill">
                <input placeholder="Email" type="email" formControlName="email">
            </label>
    
            <label appearance="fill">
                <input placeholder="Password" type="password" formControlName="password">
            </label>

            <label appearance="fill">
                <input placeholder="Confirm Password" type="password" formControlName="confirmPassword">
            </label>
            
            <button (click)="changeStepsState(2)" [disabled]="emailAndPasswordForm.invalid" #next>Next</button>

            <mat-error 
                *ngIf=" emailAndPasswordForm.errors?.['noMatch'] === true ">                        
                Passwords don't match 
            </mat-error>
        </form>

        <form  [class]="stepState === 2 ? 'visible' : 'invisible'" class="step" [formGroup]="nameAndAddressForm" (submit)="register()">
            <label appearance="fill">
                <input placeholder="First Name" formControlName="firstName">
            </label>

            <label appearance="fill">
                <input placeholder="Last Name" formControlName="lastName">
            </label>

            <label appearance="fill">
                <select formControlName="city" >
                    <option *ngFor="let city of auth.cities"  [value]="city">
                        {{city}}
                    </option>
                </select>
            </label>

            <label appearance="fill">
                <input placeholder="Street" formControlName="street">
            </label>
            <button (click)="changeStepsState(1)">back</button>
            <button (click)="changeStepsState(3)" [disabled]="nameAndAddressForm.invalid" >next</button>
        </form>
        
        <div [class]="stepState === 3 ? 'visible' : 'invisible'" class="step"></div>
        <!-- <div>
            {{productsAmount}} products and {{ordersAmount}} orders
        </div> -->
    </div>
</div>