<mat-card>
    <mat-card-content>
        <mat-stepper linear #stepper>
            <mat-step [stepControl]="emailAndPasswordForm" label="Email & password">
                <form [formGroup]="emailAndPasswordForm">
                    
                    <mat-form-field appearance="fill">
                        <mat-label>Email</mat-label>
                        <input matInput type="email" formControlName="email">
                    </mat-form-field>
            
                    <mat-form-field appearance="fill">
                        <mat-label>Password</mat-label>
                        <input matInput type="password" formControlName="password">
                    </mat-form-field>

                    <mat-form-field appearance="fill">
                        <mat-label>Confirm Password:</mat-label>
                        <input matInput type="password" formControlName="confirmPassword">
                    </mat-form-field>
                   
                    <button [disabled]="emailAndPasswordForm.invalid" cdkFocusInitial mat-raised-button matStepperNext #next>Next</button>

                    <mat-error 
                        *ngIf=" emailAndPasswordForm.errors?.['noMatch'] === true ">                        
                        Passwords don't match 
                    </mat-error>
                </form>
            </mat-step>

            <mat-step [stepControl]="nameAndAddressForm" label="Name & Address">
                <form [formGroup]="nameAndAddressForm" (submit)="register()">
                    <mat-form-field appearance="fill">
                        <mat-label>First Name</mat-label>
                        <input matInput formControlName="firstName">
                    </mat-form-field>

                    <mat-form-field appearance="fill">
                        <mat-label>Last Name</mat-label>
                        <input matInput formControlName="lastName">
                    </mat-form-field>

                    <mat-form-field appearance="fill">
                        <mat-label>City</mat-label>
                        <mat-select formControlName="city" >
                            <mat-option *ngFor="let city of auth.cities"  [value]="city">
                                {{city}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field appearance="fill">
                        <mat-label>Street</mat-label>
                        <input matInput formControlName="street">
                    </mat-form-field>

                    <button  mat-raised-button [disabled]="nameAndAddressForm.invalid"  >Register</button>

                </form>
                
            </mat-step>
        </mat-stepper>

        <div>
            {{productsAmount}} products and {{ordersAmount}} orders
        </div>
    </mat-card-content>
</mat-card>