
.containForm{
    background-color: #FDEAD2;
    border-radius: 20px;
    padding: 20px;
    height: fit-content;
    position: relative;
}

/* .header{
    background-color: #FDEAD2;
} */

.invisible{
    display: none;
}
/* .formContainer{
    background-color: #FDEAD2;
    padding: 15px;
}
form{
    background-color: #FDEAD2;
} */

h1{
    font-weight: bold;
    font-size: xx-large;
}

p{
    font-size: medium;
}

p a {
    text-decoration: underline;
    color: black;
    font-weight: bold;
}

label {
    display: block;
    /* height: ; */
    width: 100%;
    margin: 5% 0;
}

input, select {
    font-weight: bold;
    font-size: large;
    padding: 20px;
    height: 50px;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 40px;
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer button{
    background-color: transparent;
    border: none;
}



.footer button  > img{
    width: 40px;
}

button:disabled {
    opacity: 60%;
}


.error{
    word-wrap: initial;
    color: red;
    font-weight: bold;
    max-width: 14vw;
    text-align: center;
}

.finish {
    width: fit-content;
    height: fit-content;
    position: relative;

}

.finish > img{
    width: 30vw;
    aspect-ratio: 7/6;
}

.finish a {
    background-color: red;
    color: white;
    font-weight: bold;
    font-size: smaller;
    letter-spacing: 0;
    border: none;
    border-radius: 15px;
    padding: 2px 7px;

    position: absolute;
    bottom: 45%;
    left: 10%;

    display: grid;
    place-items: center;
}
