
.containForm{
    /* background-color: #FDEAD2; */
    border-radius: 20px;
    padding: 20px;
    height: fit-content;
    position: relative;
}

.header{
    background-color: #FDEAD2;
}

.invisible{
    display: none;
}

form{
    background-color: #FDEAD2;
}

h1{
    font-weight: bold;
    font-size: xx-large;
}

p{
    font-size: medium;
}

p a {
    text-decoration: underline;
    color: black;
    font-weight: bold;
}

label {
    display: block;
    /* height: ; */
    width: 100%;
    margin: 5% 0;
}

input, select {
    font-weight: bold;
    font-size: large;
    padding: 20px;
    height: 50px;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 40px;
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer button{
    background-color: transparent;
    border: none;
}



.footer button  > img{
    width: 40px;
}

button:disabled {
    opacity: 60%;
}

.finish {
    width: 30vw;
    height: 40vh;
    aspect-ratio: 3 / 4;
    
}

.finish > img{
    width: 35vw;
}

.finish a {
    /* height: 40px; */
    background-color: red;
    color: white;
    font-weight: bold;
    font-size: small;
    letter-spacing: 0;
    border: none;
    border-radius: 15px;
    padding: 3px 5px;

    position: absolute;
    bottom: 15%;
    left: 20%;

    display: grid;
    place-items: center;
}