<div class="centerF">
    <div class="containForm">

        <div class="header" *ngIf="stepState !== 3 ">
            <h1>Sign Up</h1>
            <p>Already have an account? <a routerLink="/login">Login</a></p>
        </div>
        
        <form [class]="stepState === 1 ? 'visible' : 'invisible'" [formGroup]="emailAndPasswordForm">
            
            <label appearance="fill">
                <input placeholder="Email" type="email" formControlName="email">
            </label>
    
            <label appearance="fill">
                <input placeholder="Password" type="password" formControlName="password">
            </label>

            <label appearance="fill">
                <input placeholder="Confirm Password" type="password" formControlName="confirmPassword">
            </label>
            
            <div class="footer">
                
                <div></div>

                <mat-error 
                    *ngIf=" emailAndPasswordForm.errors?.['noMatch'] === true ">                        
                    Passwords don't match 
                </mat-error>

                <mat-error 
                    *ngIf=" emailAndPasswordForm.errors?.['required'] === true ">                        
                    A required field is missing. please
                </mat-error>

                <button 
                    (click)="changeStepsState(2)" 
                    [disabled]="emailAndPasswordForm.invalid" 
                    class="next"
                >
                    <img src="../../../../assets/Right.png" alt="">
                </button>
            </div>
        </form>

        <form  [class]="stepState === 2 ? 'visible' : 'invisible'" [formGroup]="nameAndAddressForm" (submit)="register()">
            <label appearance="fill">
                <input placeholder="First Name" formControlName="firstName">
            </label>

            <label appearance="fill">
                <input placeholder="Last Name" formControlName="lastName">
            </label>

            <label appearance="fill">
                <select formControlName="city" >
                    <option *ngFor="let city of auth.cities"  [value]="city">
                        {{city}}
                    </option>
                </select>
            </label>

            <label appearance="fill">
                <input placeholder="Street" formControlName="street">
            </label>

            <div class="footer">
                <button (click)="changeStepsState(1)"><img src="../../../../assets/Left.png" alt="⬅️" ></button>
                <button (click)="changeStepsState(3)" [disabled]="nameAndAddressForm.invalid" ><img src="../../../../assets/Right.png" alt="➡️"></button>
            </div>
        </form>
        
        <div class="finish" [class]="stepState === 3 ? 'visible' : 'invisible'">
            <img src="../../../../assets/Welcome_Mes.png" alt="">
            <a routerLink="/products">Back to Homepage</a> 
        </div>
        <!-- <div>
            {{productsAmount}} products and {{ordersAmount}} orders
        </div> -->
    </div>
</div>