.receipt {
    text-align: center;
}

button.😊 {
    /* border: 1px solid rgba(0, 0, 255, 0.404);
    background-color: rgba(9, 7, 126, 0.822); */
    background-color: transparent;
    border: none;
}