.receipt {
    text-align: center;
    display: flex;
    height: 100%;
}

mat-card{
    margin: auto;
}
p{
    margin: 10px;
}

button {
    margin: 10px;
}

app-my-cart{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    background-color: white;
    padding: auto;
    font-size: xx-large;
}