.menu{
    display:  flex;
    gap: 15px;
    height: 100%;
    width: 25vw;
    padding: 10px;
}
img{
    width: 40px;
    height: 40px;
    margin: 0;
}

button, a, button:hover, a:hover{
    background-color: transparent;
    color: white;
    border: transparent;
    cursor: pointer;
}

.menuContainer{
    height: 40px;
    width: 140px;
    background-color: red;
    border-radius: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 3px;
    margin: 0;
    font-weight: 200;
    
}