<div class="productsList">
    <span *ngIf="productsService.products.length === 0">We Don't Have Products That Fit Your Search...</span>

    <div *ngFor="let product of productsService.products, let i = index">
        
        <a *ngIf="auth.isAdmin()" [routerLink]="[]" [queryParams]="{ 'product_id': product.productID  }">
            <app-product-card [i]="i"  [product]="product"></app-product-card>
        </a>

        <app-product-card *ngIf="!auth.isAdmin()" [i]="i" [product]="product"></app-product-card>

    </div>
</div>