
<form (ngSubmit)="makeAnOrder()" [formGroup]="orderForm">

    <h3>Shipping Details:</h3>


    <label (dblclick)="copyDefaultUserDetails('city')" appearance="fill">
        <select placeholder="City" formControlName="city" >
            <option *ngFor="let city of auth.cities"  [value]="city">
                {{city}}
            </option>
        </select>
    </label>

    <label (dblclick)="copyDefaultUserDetails('street')" appearance="fill">
        <input placeholder="Address" matInput type="text" formControlName="street">
    </label>

    <label appearance="fill">
        <mat-label>Delivery date</mat-label>
        <input 
            placeholder="DD/MM/YYYY"
            type="date"
            [matDatepickerFilter]="myFilter" 
            [matDatepicker]="picker" 
            formControlName="deliveryDate"
        >
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </label>

    <h3>Payments:</h3>

    <label appearance="fill">
        <mat-label>Credit Card</mat-label>
        <input matInput type="text" formControlName="creditCard">
    </label>


    <button type="submit" [disabled]="orderForm.invalid" >Make an Order</button>

</form>