
<form (ngSubmit)="makeAnOrder()" [formGroup]="orderForm">

    <h2>Order</h2>

    <h3>Shipping Details:</h3>

    <mat-form-field (dblclick)="copyDefaultUserDetails('city')" appearance="fill">
        <mat-label>City</mat-label>
        <input matInput type="text" formControlName="city">
    </mat-form-field>

    <mat-form-field (dblclick)="copyDefaultUserDetails('street')" appearance="fill">
        <mat-label>Street</mat-label>
        <input matInput type="text" formControlName="street">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Delivery date</mat-label>
        <input matInput [matDatepickerFilter]="myFilter" [matDatepicker]="picker" formControlName="deliveryDate">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker touchUi #picker></mat-datepicker>
    </mat-form-field>

    <h3>Payments:</h3>

    <mat-form-field appearance="fill">
        <mat-label>Credit Card</mat-label>
        <input matInput type="text" formControlName="creditCard">
    </mat-form-field>


    <button mat-raised-button type="submit" [disabled]="orderForm.invalid" >Make an Order</button>

</form>