.sticky {
    position: sticky;
    top: 27vh;
    right: 0;
    background-color: #FDEAD2;
    border-radius: 20px;
    padding: 20px;
    margin: 0;
}

form {
    position: relative;
    gap: 20px;
    width: 35vw;
    padding-right: 0;
}

h3 {
    font-weight: bold;
}

label {
    margin: 20px 0;
}

input, select, button {
    border: none;
    outline: none;
    height: 90%;
    width: 90%;
    font-size: large;
    font-weight: bold;
    padding: 10px;
    
    border-radius: 20px;
    overflow: hidden;
}

.dsInlineBlock {
    display: inline-block;
    width: 40%;
    /* margin: 0 20px; */
}

.dsInlineBlock + .dsInlineBlock {
    margin-left: 14%;
}


/* input[type="date"]{ 
    position: relative;
} */
.date{
    position: relative;
}
mat-datepicker-toggle{
    position: absolute;
    left: 0;
    z-index: 9;
}
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

button {
    background-color: red;
    color: white;
    width: 30%;
    margin: 0 35%;
    cursor: pointer;
}

button:disabled{
    background-color: #b4b4b4;
    color: #666666;
}

form >img {
    /* height: 50vh; */
    width: 25vw;
    position: absolute;
    left: -20vw;
    bottom: 0;
    pointer-events: none;
}
