
*{
    box-sizing: border-box;
}

*::-webkit-scrollbar {
    display: none;
}

html, body{
    height: fit-content;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background: linear-gradient(45deg, rgba(173, 216, 230, 0.473), white);
}

.layout, body:nth-child(){
    height: 100vh;
}

a{
    text-decoration: unset;
    color: black;
}

.active{
    font-weight: bolder;
}

form > label {
    display: block;
}

.red {
    color: red;
}

.highlighted-text{
    background-color: yellow;
    color: blue;
}

.file-input{
    display: none;
}

button[type = submit]{
display: block;
margin: 10px;
}
.file_button{
display: flex;
align-items: center;
padding: 5px;
}
.file_button > div {
margin-left: 15px;
}