<mat-card *ngIf=" auth.isAdmin() && productsService.products[productsService.i] " class="EditProduct">
    <mat-card-content> 
    <span *ngIf="auth.isAdmin()" (click)="hideEdit()">❌</span>

    <form (ngSubmit)="editProduct()" #editProductForm="ngForm">

        <h2>Edit Product</h2>

        <label>
            <span>Product Name:</span>
            <input type="text" name="productName" [(ngModel)]="productsService.products[productsService.i].productName" minlength="2" #productName="ngModel">
            <span class="red" *ngIf="productName.errors?.['minlength'] && productName.touched">Min Product Name!</span>
        </label>

        <label>
            <span>Category: </span>
            <select type="text"   name="categoryID" [(ngModel)]="productsService.products[productsService.i].categoryID" #product.categoryID="ngModel">
                <option selected disabled >Select..</option>
                <option *ngFor="let category of productsService.categories" value={{category.categoryID}}>
                    {{category.categoryName}}
                </option>
            </select>
        </label>

        <label>
            <span>Price:</span>
            <input type="number" name="price" [(ngModel)]="productsService.products[productsService.i].price" min="2" #price="ngModel">
            <span class="red" *ngIf="price.errors?.['min'] && price.touched">Min 2!</span>
        </label>

        <label>
            <span>Image:</span>
            <input type="file" name="imageName" accept="image/*" #productImage>
        </label>

        <button [disabled]="editProductForm.invalid"  type="submit" >Edit Product</button>

    </form>
</mat-card-content>
</mat-card>

