.product_card{
    /* margin: 15px 10px; */
    /* padding-bottom: 5px; */
    position: relative;
    /* border-bottom: 2px solid gray; */
}

.buttons{
    position: absolute;
    right: 5px;
}

.buttons > button {
    background-color: transparent;
    border: none;
}