<div class="product_card">
    <span>
        <mat-card-title>{{product.productName}}</mat-card-title>
        <mat-card-subtitle>{{product.price | currency:"ILS"}}</mat-card-subtitle>
        
    </span>
    <span class="buttons">
        <button (click)="changeQuantity( amount - 1 )">
            ➖
        </button>
        <button>
            {{product.amount}}
        </button>
        <button (click)="changeQuantity(amount + 1)">
            ➕
        </button>
        <button class="material-icons-round" (click)="removeProduct()"><mat-icon>remove_circle</mat-icon></button>
    </span>
    
</div>