<mat-form-field class="example-form-field">
    <mat-label>Search Products</mat-label>
    <input 
        matInput 
        type="text" 
        [(ngModel)]="input"
        pattern="([a-z]{1,7})"
    >
    <button matSuffix *ngIf="input" matSuffix mat-icon-button aria-label="Clear" (click)="input=''">
      <mat-icon>close</mat-icon>
    </button>
    <button *ngIf="visibility() === 'order' && input" type="submit"><mat-icon>search</mat-icon></button>
    <a 
        matSuffix
        *ngIf="visibility() === 'products' && input"
        [routerLink]="[]" 
        [queryParams]="{ 'search': input  }"
    ><mat-icon>search</mat-icon></a>
  </mat-form-field>

 