<app-login *ngIf="!auth.user"></app-login>
<div *ngIf="auth.user" class="box">
  <app-product-card class="card" [product]="product" ></app-product-card>
  <div class="footer">
    <button cdkFocusInitial [mat-dialog-close]="amount">Add To Cart</button>
    <input min="1" type="number" [(ngModel)]="amount">
    <span>{{product.price * amount}}</span>
  </div>
</div>

<button (click)="onNoClick()" class="close">x</button>

<!-- <mat-card *ngIf="auth.user">
  <mat-card-content>
    <mat-card-title>{{product.productName}}</mat-card-title>
    <mat-card-subtitle>{{product.price * amount | currency:"ILS"}} </mat-card-subtitle>
  </mat-card-content>
  
  <div mat-dialog-content>
    <mat-form-field>
      <input min="1" type="number" matInput [(ngModel)]="amount">
    </mat-form-field>
  </div>
  
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()" >No Thanks</button>
    <button mat-button [mat-dialog-close]="amount" cdkFocusInitial>Ok</button>
  </div>
</mat-card> -->