.categoriesContainer{
    overflow-x: scroll;
    max-width: 100%;
    width: fit-content;
    display: flex;
}

.categoriesCard{
    padding: 10px;
    min-width: fit-content;
}

/* ::-webkit-scrollbar {
  display: none;
} */