.categoriesContainer{
    overflow-x: scroll;
    max-width: 60%;
    position: sticky;
    top: 18vh;
    width: fit-content;
    display: flex;
    z-index: 9;
}

.categoriesCard{
    padding: 10px;
    
    min-width: fit-content;
}
h2{
  display: block;
}

::-webkit-scrollbar {
  display: none;
}