<div class="products-cart-layout">
    <div [class]="productsService.products[productsService.i] || ! auth.isAdmin() ? 'products-layout' : 'classic'">
        <a *ngIf="auth.isAdmin()" routerLink="/add">➕</a>
        <app-categories></app-categories>
        <app-product-list></app-product-list>
    </div>
    <div class="stickyBar" >
        <app-cart-layout *ngIf=" ! auth.isAdmin() "></app-cart-layout>
        <!-- <app-edit-product *ngIf=" productsService.products[productsService.i] "></app-edit-product> -->
        <app-products-form></app-products-form>
    </div>
</div>