.productsAndCartLayout{
    display: flex;
    width: fit-content;
    justify-content: space-between;
    margin-right: 0;
    max-width: 100vw;
}

.stickyBar{
    margin: 10px;
    width: fit-content;
    position: sticky;
    top: 18vh;
}

.productsLayOut{
    max-width: 72%;
    margin-left: 10px;
}