.products-cart-layout{
    display: flex;
    max-width: 100vw;
    /* flex-wrap: ; */
}
.products-layout{
    /* width: 70%; */
    width: calc(100% - 330px);
}

.stickyBar{
    /* width: 25%; */
    flex-basis: 25%;
    
    position: sticky;
    top: 18vh;
}